body{
    background-image: url("ca.jpeg");
    text-align: center;
    background-attachment: fixed;
    background-color: black;
    background-repeat: no-repeat; /* faz com a imagem não repita, apareça uma única vez. */
    background-size:cover;  /* pra imagem ficar na tela toda. */
    display:block;
}
#formulario{
    text-align:center;
    background-color:rgba(105, 160, 233, 0.534);
    border: 3px solid white;
    float:right;
    height:30%;
    display:block;
    width: 30%;
    margin-top: 200px; 
    margin-right: 100px;
    margin-bottom: 10px;
}   
 #img{
    float: left;
    height:30%;
    margin-top: auto;
    margin-left:10px;
    display:block; 
}   
.texto{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
}
.bt{
    color: black;
    background-color: white;
    font-size: 20px;
    font-family: fantasy;
    text-align: center;
    padding: 0%;
    margin: 10px;
    width:100px;
    height:40px;
}
.msgR{
    background-color: white;
    font-size: 20px;
    color:black;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    vertical-align: middle;
}
#voltar{
    display:none;
    text-align:center;
}
#final{
    display:none;
    text-align: center;
    background-color:rgba(105, 160, 233, 0.534);
    border: 3px solid white;
    margin: 200px 320px;
}
#confirmar{
    display:none;

}